<!DOCTYPE html>
<html>

<head>
    <title>
        Channels
    </title>
</head>

<body>
    <ui id="channels">
        {% for channel in channels %}
        <ul>
            {{ channel }}
        </ul>
        {% endfor %}
    </ui>
    <select id="users">
        {% for user in users %}
        <option value="{{ user }}">
            {{ user }}
        </option>
        {% endfor %}
    </select>

    <button id="ub">
        Add channel
    </button>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('ub').onclick = (e) => {

                e.preventDefault();
                var user = document.getElementById("users").options[document.getElementById("users").selectedIndex].value;
                const li = document.createElement('li');
                li.innerHTML = user;
                document.getElementById("channels").append(li);

            }
        })
    </script>
</body>

</html>