<!DOCTYPE html>
<html>

<head>
    <title>
        {{ roomname }} for {{ username }}
    </title>
    <div id="roomname">{{ roomname }}</div>
</head>

<body>
    <ui id="list">
        {% for message in messages %}
        <li>
            message
        </li>
        {% endfor %}
    </ui>
    <form>
        <input id="ui" type="text">
        <button id="b">
            Submit
        </button>
    </form>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js">
    </script>
    <script>
        var selection;
        const username = '{{ username }}'
        document.addEventListener('DOMContentLoaded', () => {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            socket.on('connect', () => {
                document.getElementById('b').onclick = (e) => {
                    e.preventDefault();

                    selection = document.getElementById('ui').value;
                    socket.emit('message', {
                        'message': selection,
                        'room': document.getElementById("roomname").innerHTML
                    });

                }


            })

            socket.on('transmit', data => {
                const li = document.createElement('li');
                li.innerHTML = data.username + ":" + data.message;
                document.getElementById('list').append(li);
            })
        });
    </script>

</body>

</html>